<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="early_bird.css">
</head>
<body>
    <div class="loader"></div>
    <div class="content">
        <div class="registration" onmouseover="hoverin()" onmouseout="hoverout()" onclick="gotolink(this)">
            <li>Re-verse</li>
            <li>(early bird registration)</li>
            <li>
                <div class="image">
                    <img  id="change" src="ima/icons8-arrow-100.png">
                </div>
            </li>
        </div>
    </div>
    <div class="download">
        <div class="brochure">
            <h2>Download Brochure</h2>
        </div>
    </div>
    <script src="early.js">

    </script>
</body>
</html>