*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    
    background-image: url(bg.png);
    
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    
}

.content{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.registration{
    font-size: 1rem;
    display: flex;
    background-color: #fff;
    justify-content:space-evenly;
    padding: 1vw;
    width: 50vw;

    border-radius: 10vw;
   

}
.reverse{
    display: flex;
    justify-content: center;
   
    padding-right: 70%;
}
.info{
    justify-content: baseline;
}

.registration:hover{
    transition: 0.2s ease-in-out;
    border: 2px solid white;
    color: white;
    background-color: black;
    filter: grayscale(100%);
    
}

.arrow-info{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.info h4{
    justify-content: baseline;
    align-items: end;
}
.arrow img{
    width: 4vw;
    height: auto;
}

.registration:hover .arrow img:nth-child(2){
    display: none;
}

.info{
    position: absolute;
    left: 60%;
    
    display: flex;
    justify-content: end;
    align-items: end;
}

.download{
    background-color: white;
    width: 35%;
    border-radius: 0.3rem;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    transform: translate(-22vw, 35vh);
}

.download:hover{
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;
    border: 2px solid white;
}

.box{
    position: absolute;
    right:50%;
    top:50%;
    transform: -50% 50%;
    background-color: white;
    
    
}
.items{
    display: inline-flex;
    justify-content: space-between;
    
}

