*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont1;
    src: url(fonts/VibrantHandmark-Yzpza.otf);
}
@font-face {
    font-family: myfont2;
    src: url(fonts/Billie\ Eilish.otf);
}


body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(bg.png);
    background-size: cover;
    background-color: #000;
}

.container{
    width: 100%;
    max-width: 650px;
    background-color: #fff;
    color: #000;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px rgb(47, 46, 46);
}

.form-title{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: #000;
    border-bottom: solid 1px white;
    font-family: myfont1;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
    font-family: myfont2;
    font-weight: bolder;
    letter-spacing: 1px;
}

.user-input-box label{
    width: 95%;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.432);
    padding: 0 10px;
}

.form-submit-btn{
    margin-top: 40px;
}

body{
    background-image:  url(ima/background.png);
}
.form-submit-btn button:hover{
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}


.form-submit-btn button{
    width: 20%;
    font-weight: bolder;
    font-family: myfont2;
    letter-spacing: 2px;
    padding: 5px 10px;
    background-color: black;
    color: white;
}

.gender-details-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: myfont2;
    font-weight: bolder;
    letter-spacing: 2px;
}

.gender-category input{
    width: 2rem;
    accent-color: black;
    transition: all 0.2s ease;
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
    .gender-details-box{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .main-user-info::-webkit-scrollbar{
        width: 5px;
    }
    .main-user-info::-webkit-scrollbar-thumb{
        border-radius: 2rem;

        background-color: black;
    }
    .main-user-info::-webkit-scrollbar-track{
        background-color: white;
    }
}

/* .loader-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.933);
    z-index: 1001;    
    transition: opacity 300.5s, visibility 1s;
}

.loader-1::after{
    content: "";
    width: 50px;
    height: 50px;
    border: 8px solid white;
    border-top-color: black;
    border-radius: 50%;
    animation: loading 0.8s ease infinite;
}

.loader-1--hidden{
    opacity: 0;
    visibility: hidden;
}


@keyframes loading{
    from{ transform: rotate(0turn)}
    to{transform: rotate(1turn)}
} */